<div class="container">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="gerar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h2>Relatório de lançamentos por pessoa</h2>
      </div>
    </div>

    <div class="ui-g-12">
      <label style="margin-right: 5px">Vencimento</label>
      <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dataInicial" [(ngModel)]="dataInicial" required [inputStyle]="{ 'width': '95px' }"></p-calendar>

      <label style="margin: 5px">até</label>
      <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="dataFinal" [(ngModel)]="dataFinal" required [inputStyle]="{ 'width': '95px' }"></p-calendar>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" [disabled]="f.invalid" label="Gerar" icon="pi pi-check"></button>
    </div>
  </form>
</div>
